.sectionTitle {
  font-weight: 400;
  font-size: 3vw;
}

.sectionDescription {
  font-weight: 300;
  font-size: 1.7vw;
}

.evalQuestion {
  font-weight: 350;
  font-size: 2vw;
}

.questionTitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
}

.optionsBtn {
  background: #f9f9f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  text-align: center;
}

.optionsBtn:hover {
  background-color: #e5e5e5;
  color: rgb(18, 18, 18);
}

.evalOptionsBtn {
  background: #f9f9f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 1.2vw;
  text-align: center;
}

.evalOptionsBtnSelect {
  background: #00b887;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 1.2vw;
  text-align: center;
}

.selected {
  background-color: #005941;
  color: #f9f9f9;
}

.observationTxtBox {
  height: 12vh;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  overflow: auto;
  background: #f9f9f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 3.5vh;
}

.numInput {
  width: 8vw;
  box-sizing: border-box;
  border: none;
  cursor: pointer;

  overflow: auto;
  background: #f9f9f9d3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 3ch;
  line-height: 3.5vh;
}
.SeekingMoreInfo:focus {
  background: #f9f9f9d3;
}
