.dropDown {
  position: absolute;
  margin-top: 3rem;
  padding: 15px;
  border-radius: 8px;
  background-color: rgb(243, 243, 243);
  box-shadow: 10%;
  z-index: 1;

  box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
}

.dropDown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropDown.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.menuStyle button {
  display: block;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 200px;
  text-indent: 10px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: start;
  letter-spacing: 0.065em;
  color: #005941;
  height: 40%;
}

.Dropdownlabel {
  display: block;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 200px;
  text-indent: 10px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: start;
  letter-spacing: 0.065em;
  color: #000000;
}

.menuStyle button {
  display: block;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 200px;
  text-indent: 10px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: start;
  letter-spacing: 0.065em;
  color: #005941;
  height: 40%;
}

.Dropdownlabel {
  display: block;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 200px;
  text-indent: 10px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: start;
  letter-spacing: 0.065em;
  color: #000000;
}

.ProfileBtn:hover,
.LogoutBtn:hover,
.DashboardBtn1:hover,
.ReportsBtn1:hover,
.AboutUsBtn1:hover {
  color: white;
  background-color: #005941;
  border-radius: 8px;
}
